openapi: 3.0.1
info:
  contact:
    email: liveobjects.support@orange.com
    name: Live Objects Team
  description: API description for Live Objects service
  termsOfService: http://opensource.itn.ftgroup/index.php/Orange_Source
  title: Live Objects REST API Guide v2.13.3
  version: 2.13.3
servers:
- url: https://liveobjects.orange-business.com/
tags:
- description: get your accounting metrics
  name: Accounting - V1
- description: API key management
  name: Api keys
- description: Search through your AuditLog messages
  name: Audit Log
- description: FIFO management and publication
  name: Bus management
- description: CA certificates for MQTT client cert. authentication
  name: CA certificates
- description: Management of actions on a fleet of devices
  name: Campaign management
- description: APIs to inject a bulk of data
  name: Data bulk injection
- description: APIs to manage dataMessage custom pipelines
  name: Data management custom pipelines
- description: APIs to search through injected data
  name: Data management data search
- description: APIs to store and retrieve data
  name: Data management data store
- description: list all decoders for a tenant
  name: Decoders
- description: CSV decoder provisioning
  name: Decoders - CSV
- description: binary decoder provisioning
  name: Decoders - binary
- description: public decoder management
  name: Decoders - public
- description: Devices commands
  name: Device management - Commands - V1
- description: Devices configuration
  name: Device management - Configuration - V1
- description: Connector Nodes Controller
  name: Device management - Connector nodes - V1
- description: Group management
  name: Device management - Groups - V1
- description: Devices' interfaces management
  name: Device management - Interfaces - V1
- description: Devices inventory
  name: Device management - Inventory - V1
- description: Devices resources
  name: Device management - Resources - V1
- description: Resources management
  name: Device management - Resources management
- description: COAP/LWM2M device management
  name: Device management for COAP/LWM2M (beta)
- description: Lora Connector Controller
  name: Device management for LoRa
- description: ActivityRule management
  name: Event processing - Activity
- description: Context management
  name: Event processing - Context
- description: FiringRules and FiringGuards management
  name: Event processing - Firing
- description: Geozone management
  name: Event processing - Geozone
- description: MatchingRules management
  name: Event processing - Matching
- description: State processing Rules management
  name: Event processing - State processing
- description: sending email or sms notifications
  name: Notification
- description: Store partners data
  name: Partner data push
- description: Management for partners
  name: Partners management
- description: Retrieve OAuth 2 access token for partners
  name: Partners tokens management
- description: Tenant account management
  name: Tenant accounts
- description: Action policies on event and messages
  name: Triggers and Actions
- description: Test api for actions
  name: Triggers and Actions - Test
- description: authentication
  name: User authentication
- description: manage users
  name: Users management
- description: binding topics / fifo
  name: _(deprecated) Bus management router
- description: Devices firmwares
  name: _(deprecated) Device management - Devices firmwares
- description: asset commands
  name: _(deprecated) Device management command - V0 (use Device management - Commands
    - V1 instead)
- description: asset inventory
  name: _(deprecated) Device management inventory - V0 (use Device management - Inventory
    - V1 instead)
- description: asset parameters
  name: _(deprecated) Device management parameter - V0 (use Device management - Configuration
    - V1 instead)
- description: asset resources
  name: _(deprecated) Device management resource - V0 (use Device management - Resource
    - V1 instead)
- description: group management
  name: _(deprecated) Group management - V0 (use Device management - Groups - V1 instead)
- description: Router topic management
  name: _(deprecated) Router topic management
- description: sms connector management
  name: _(deprecated) SMS Connector
- description: sms connector business settings management
  name: _(deprecated) SMS Connector BusinessSettings (use Device management - Connector
    nodes - V1 instead)
- description: legacy
  name: _(deprecated) Statistics (use Accounting - V1 accounting instead)
- description: Action policies on event and messages
  name: _(deprecated) Triggers and Actions
- description: Test api for actions
  name: _(deprecated) Triggers and Actions - Test
- description: get your accounting metrics
  name: accounting-controller
- description: API key management
  name: api-key-controller
- description: asset commands
  name: asset-commands-controller
- description: asset inventory
  name: asset-item-controller
- description: asset parameters
  name: asset-param-item-controller
- description: asset parameters
  name: asset-params-controller
- description: asset resources
  name: asset-resource-manager-controller
- description: assets inventory
  name: assets-controller
- description: Search through your AuditLog messages
  name: audit-log-search-controller
- description: authentication
  name: auth-controller
- description: binary decoder provisioning
  name: binary-payload-description-controller
- description: binding topics / fifo
  name: bindings-controller
- description: CA certificates for MQTT client cert. authentication
  name: ca-certificate-controller
- description: Management of actions on a fleet of devices
  name: campaign-controller
- description: asset commands
  name: commands-controller
- description: Connector Nodes Controller
  name: connector-nodes-controller
- description: CSV decoder provisioning
  name: csv-payload-description-controller
- description: APIs to inject a bulk of data
  name: data-bulk-controller
- description: APIs to manage dataMessage custom pipelines
  name: data-message-pipeline-controller
- description: APIs to search through injected data
  name: data-search-controller
- description: APIs to store and retrieve data
  name: data-series-controller
- description: Devices commands
  name: device-commands-controller
- description: Devices configuration
  name: device-config-controller
- description: Devices firmwares
  name: device-firmware-updates-controller
- description: Devices firmwares
  name: device-firmwares-controller
- description: Devices' interfaces management
  name: device-interfaces-controller
- description: Devices resources
  name: device-resources-controller
- description: Devices inventory
  name: devices-controller
- description: Action policies on event and messages
  name: event-2-action-provisioning-controller
- description: Test api for actions
  name: event-2-action-test-controller
- description: ActivityRule management
  name: event-processing-activity-controller
- description: Context management
  name: event-processing-context-controller
- description: FiringRules and FiringGuards management
  name: event-processing-firing-controller
- description: Geozone management
  name: event-processing-geozone-controller
- description: MatchingRules management
  name: event-processing-matching-controller
- description: State processing Rules management
  name: event-processing-state-processing-controller
- description: FIFO management and publication
  name: fifo-controller
- description: group management
  name: group-controller
- description: assets inventory
  name: inventory-asset-namespaces-controller
- description: Lora Connector Controller
  name: lora-connector-controller
- description: LoRa device management
  name: lora-controller
- description: COAP/LWM2M device management
  name: lwm-2m-controller
- description: sending email or sms notifications
  name: message-controller
- description: Management for partners
  name: partner-controller
- description: Store partners data
  name: partner-data-push-controller
- description: Retrieve OAuth 2 access token for partners
  name: partner-token-controller
- description: list all decoders for a tenant
  name: payload-description-controller
- description: public decoder management
  name: public-payload-description-controller
- description: Resources management
  name: resource-manager-controller
- description: Router topic management
  name: router-controller
- description: sms connector business settings management
  name: smsc-business-settings-controller
- description: sms connector management
  name: smsc-controller
- description: legacy
  name: statistics-controller
- description: Tenant account management
  name: tenants-controller
- description: manage users
  name: user-controller
paths:
  /api/v0/apiKeys:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : API_KEY_R.'
      operationId: getApiKeysUsingGET_3
      parameters:
      - description: the maximum number of items per page (optional)
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - description: the requested page number (optional)
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - description: 'identifier of tenant account (optionnal) ex: "57xxxxxxxxxxxxxxxxxxxxxx".
          Expected identifier (max 24 characters)'
        in: query
        name: tenantId
        schema:
          type: string
      - description: 'the id of your parent (optional)  ex: "57xxxxxxxxxxxxxxxxxxxxxx".
          Expected identifier (max 24 characters)'
        in: query
        name: parentId
        schema:
          type: string
      - description: include the session Keys (optional)
        in: query
        name: showSessionKeys
        schema:
          default: false
          type: boolean
      - description: list of API Key associated roles (optional). Basic roles are
          "USER_R", "USER_W", "API_KEY_R", "API_KEY_W" or any role string supplied
          at tenant account creation time. Expected array of role name (max all roles,
          role value max 255 characters)
        explode: true
        in: query
        name: roles
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Boolean to show or not the master api key
        in: query
        name: showMasterKey
        schema:
          default: true
          type: boolean
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pageable«ApiKey»'
          description: The list of the ApiKeys
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: An ErrorMessage
      summary: List API keys
      tags:
      - Api keys
    post:
      description: 'Usage of this API will be reported in your access log under ''api_key''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : API_KEY_W.'
      operationId: createApiKeyUsingPOST
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreationReqWeb'
        description: body for create API key
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: The created ApiKey
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: An ErrorMessage
      summary: Create an API key
      tags:
      - Api keys
      x-codegen-request-body-name: apiKeyCreationRequest
  /api/v0/apiKeys/current_key:
    get:
      operationId: getApiKeyFromAuthenticationUsingGET_3
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: The ApiKey
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: An ErrorMessage
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Unknown
      summary: getApiKeyFromAuthentication
      tags:
      - Api keys
  /api/v0/apiKeys/{apiKeyId}:
    delete:
      description: 'Usage of this API will be reported in your access log under ''api_key''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : API_KEY_W.'
      operationId: deleteApiKeyUsingDELETE
      parameters:
      - description: identifier of your API key. Expected identifier (max 24 characters)
        in: path
        name: apiKeyId
        required: true
        schema:
          type: string
      - description: 'identifier of tenant account (optionnal) ex: "57xxxxxxxxxxxxxxxxxxxxxx".
          Expected identifier (max 24 characters)'
        in: query
        name: tenantId
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Deletion is done, nothing in the response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: An ErrorMessage
      summary: Delete an API key
      tags:
      - Api keys
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : API_KEY_R.'
      operationId: getApiKeyUsingGET_3
      parameters:
      - description: the id of your API key. Expected identifier (max 24 characters)
        in: path
        name: apiKeyId
        required: true
        schema:
          type: string
      - description: 'identifier of tenant account (optionnal) ex: "57xxxxxxxxxxxxxxxxxxxxxx".
          Expected identifier (max 24 characters)'
        in: query
        name: tenantId
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: The ApiKey
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: An ErrorMessage
      summary: Get an API key
      tags:
      - Api keys
    post:
      description: 'Update a set of properties of the selected API key<br><br>Usage
        of this API will be reported in your access log under ''api_key'' category.<br><br>Restricted
        to API keys with at least one of the following roles : API_KEY_W.'
      operationId: updateApiKeyUsingPOST_1
      parameters:
      - description: the id of your API key. Expected identifier (max 24 characters)
        in: path
        name: apiKeyId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateReqWeb'
        description: body for update API key
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: The updated ApiKey
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: An ErrorMessage
      summary: Update an API key
      tags:
      - Api keys
      x-codegen-request-body-name: apiKeyUpdateRequest
  /api/v0/apiKeys/{apiKeyId}/debugMode:
    put:
      description: 'Usage of this API will be reported in your access log under ''api_key''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : API_KEY_W.'
      operationId: setApiKeyDebugModeUsingPUT_3
      parameters:
      - description: identifier of your API key. Expected identifier (max 24 characters)
        in: path
        name: apiKeyId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeySetDebugModeReqWeb'
        description: body for API key debug mode
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: The updated ApiKey
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Bad request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: ApiKey or Tenant not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Internal error
      summary: Activate/Deactivate the debug mode on an API key
      tags:
      - Api keys
      x-codegen-request-body-name: setApiKeyDebugModeRequest
  /api/v0/assets:
    get:
      deprecated: true
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_R.'
      operationId: listAssetsUsingGET
      parameters:
      - description: the maximum number of items per page (optional, highest value
          is 1000)
        in: query
        name: size
        schema:
          default: 20
          format: int64
          type: integer
      - description: the requested page number (optional)
        in: query
        name: page
        schema:
          default: 0
          format: int64
          type: integer
      - description: 'sorting list by attributes.  Supported columns: namespace, id,
          creationTs, lastUpdateTs, connected, groupPath.'
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: filter list by asset namespace. Expected string (max 128 characters)
        in: query
        name: namespace
        schema:
          type: string
      - description: filter list by asset groupPath.  (with optional use of wildcard
          '/*' at the end of search term)Expected string (max 255 characters)
        in: query
        name: groupPath
        schema:
          type: string
      - description: filter list by asset groupId. Expected string (max 6 characters)
        in: query
        name: groupId
        schema:
          type: string
      - description: filter list by asset id. (with optional use of wildcard '*' at
          the beginning or end of search term) Expected string (max 128 characters)
        in: query
        name: id
        schema:
          type: string
      - description: filter list by asset connected state
        in: query
        name: connected
        schema:
          type: boolean
      - description: filter list by asset name.  (with optional use of wildcard '*'
          at the beginning or end of search term)Expected string (max 255 characters)
        in: query
        name: name
        schema:
          type: string
      - description: filter list by asset tags. Max number of tags depends of your
          offer settings. Tag value max length is 32.
        explode: true
        in: query
        name: tags
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'Multiple filters, Example : assets?property.temperature=25&property.humidity=58...[cannot
          be tested in swagger-ui]. Max number of properties depends of your offer
          settings. A property name must not include following characters <code>$.</code>
          and max length is 128. Invalid property names are : ''class'', ''_class''.
          Property value max length is 256.'
        in: query
        name: property.{filterName}
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pageable«Asset»'
          description: The list of assets
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
      summary: List registered assets status
      tags:
      - _(deprecated) Device management inventory - V0 (use Device management - Inventory
        - V1 instead)
    post:
      deprecated: true
      description: 'Usage of this API will be reported in your access log under ''device_inventory''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : DEVICE_W.'
      operationId: createAssetUsingPOST
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCreateReqWeb'
        description: The device to register
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: The device newly created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: the server cannot or will not process the request due to something
            that is perceived to be a client error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Device already exists in the inventory
      summary: Create a device
      tags:
      - _(deprecated) Device management inventory - V0 (use Device management - Inventory
        - V1 instead)
      x-codegen-request-body-name: body
  /api/v0/assets/{assetNamespace}/{assetId}:
    delete:
      deprecated: true
      description: 'Usage of this API will be reported in your access log under ''device_inventory''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : DEVICE_W.'
      operationId: deleteDeviceStatusUsingDELETE
      parameters:
      - description: targeted for deletion asset namespace. Asset namespace must respect
          the following regular expression <code>([\w\-_]{1,128})</code> (max 128
          characters)
        in: path
        name: assetNamespace
        required: true
        schema:
          type: string
      - description: targeted for deletion asset identifier. Asset identifier must
          respect the following regular expression <code>([\w\-_:]{1,128})</code>
          (max 128 characters)
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Asset deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Asset not found
      summary: Delete a device
      tags:
      - _(deprecated) Device management inventory - V0 (use Device management - Inventory
        - V1 instead)
    get:
      deprecated: true
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_R.'
      operationId: getAssetStatusUsingGET
      parameters:
      - description: requested asset namespace. Asset namespace must respect the following
          regular expression <code>([\w\-_]{1,128})</code> (max 128 characters)
        in: path
        name: assetNamespace
        required: true
        schema:
          type: string
      - description: requested asset identifier. Asset identifier must respect the
          following regular expression <code>([\w\-_:]{1,128})</code> (max 128 characters)
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: The assets
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Asset not found
      summary: Get a device status
      tags:
      - _(deprecated) Device management inventory - V0 (use Device management - Inventory
        - V1 instead)
    put:
      deprecated: true
      description: 'Usage of this API will be reported in your access log under ''device_inventory''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : DEVICE_W.'
      operationId: updateAssetUsingPUT
      parameters:
      - description: namespace targeted to update assets. Asset namespace must respect
          the following regular expression <code>([\w\-_]{1,128})</code> (max 128
          characters)
        in: path
        name: assetNamespace
        required: true
        schema:
          type: string
      - description: asset identifier to update. Asset identifier must respect the
          following regular expression <code>([\w\-_:]{1,128})</code> (max 128 characters)
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetUpdateReqWeb'
        description: the updated asset definition
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: The device newly created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Asset/Group not found
      summary: Update a device
      tags:
      - _(deprecated) Device management inventory - V0 (use Device management - Inventory
        - V1 instead)
      x-codegen-request-body-name: body
  /api/v0/assets/{assetNamespace}/{assetId}/commands:
    get:
      deprecated: true
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_R.'
      operationId: getAssetCommandsUsingGET
      parameters:
      - description: requested commands target asset namespace. Asset namespace must
          respect the following regular expression <code>([\w\-_]{1,128})</code> (max
          128 characters)
        in: path
        name: assetNamespace
        required: true
        schema:
          type: string
      - description: requested commands target asset identifier. Asset identifier
          must respect the following regular expression <code>([\w\-_:]{1,128})</code>
          (max 128 characters)
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: page size
        in: query
        name: size
        schema:
          default: 20
          format: int64
          type: integer
      - description: page
        in: query
        name: page
        schema:
          default: 0
          format: int64
          type: integer
      - description: 'sorting list by attributes (supported columns:  id, status,
          created). DefaultValue : -created'
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pageable«CommandV0»'
          description: The list of commands of the asset
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
      summary: Get a list of commands targeting a specific asset
      tags:
      - _(deprecated) Device management command - V0 (use Device management - Commands
        - V1 instead)
    post:
      deprecated: true
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_W.'
      operationId: addCommandUsingPOST
      parameters:
      - description: target asset namespace. Asset namespace must respect the following
          regular expression <code>([\w\-_]{1,128})</code> (max 128 characters)
        in: path
        name: assetNamespace
        required: true
        schema:
          type: string
      - description: target asset identifier. Asset identifier must respect the following
          regular expression <code>([\w\-_:]{1,128})</code> (max 128 characters)
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: 'fifo used to relay status notification ex: fifo/~notif. A valid
          ''notify to'' starts with one of [''fifo/'', ''pubsub/'', ''router/''] and
          max length is 255'
        in: query
        name: notifyTo
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetCommandWeb'
        description: command to send to the device
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandV0'
          description: The command
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
      summary: Register a new command
      tags:
      - _(deprecated) Device management command - V0 (use Device management - Commands
        - V1 instead)
      x-codegen-request-body-name: command
  /api/v0/assets/{assetNamespace}/{assetId}/params:
    get:
      deprecated: true
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_R.'
      operationId: getAssetParamsUsingGET
      parameters:
      - description: 'asset namespace ex : myNode1. Asset namespace must respect the
          following regular expression <code>([\w\-_]{1,128})</code> (max 128 characters)'
        in: path
        name: assetNamespace
        required: true
        schema:
          type: string
      - description: 'asset identifier ex: assetInteg. Asset identifier must respect
          the following regular expression <code>([\w\-_:]{1,128})</code> (max 128
          characters)'
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/AssetParameter'
                type: object
          description: The map of parameters of the asset
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
      summary: Get a specific asset list of parameters
      tags:
      - _(deprecated) Device management parameter - V0 (use Device management - Configuration
        - V1 instead)
    post:
      deprecated: true
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_W.'
      operationId: setAssetParamsUsingPOST
      parameters:
      - description: 'asset namespace ex : myNode1. Asset namespace must respect the
          following regular expression <code>([\w\-_]{1,128})</code> (max 128 characters)'
        in: path
        name: assetNamespace
        required: true
        schema:
          type: string
      - description: 'asset identifier ex: assetInteg. Asset identifier must respect
          the following regular expression <code>([\w\-_:]{1,128})</code> (max 128
          characters)'
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: 'fifo used to relay status notification ex: fifo/~notif. A valid
          ''notify to'' starts with one of [''fifo/'', ''pubsub/'', ''router/''] and
          max length is 255'
        in: query
        name: notifyTo
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                $ref: '#/components/schemas/AssetParameterValue'
              type: object
        description: 'new param value ( type ex :  INT32, UINT32 , STRING, FLOAT,
          BINARY ). Max number of parameters is 100. Parameter name max length is
          128. Parameter value must be valid according to the type and max length
          is 2000.'
        required: false
      responses:
        "200":
          content: {}
          description: Asset parameters set
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
      summary: Update a specific asset list of parameters
      tags:
      - _(deprecated) Device management parameter - V0 (use Device management - Configuration
        - V1 instead)
      x-codegen-request-body-name: newParamValues
  /api/v0/assets/{assetNamespace}/{assetId}/params/status:
    put:
      deprecated: true
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_W.'
      operationId: setDeviceParamsUpdateStatusUsingPUT
      parameters:
      - description: 'asset namespace ex : myNode1. Asset namespace must respect the
          following regular expression <code>([\w\-_]{1,128})</code> (max 128 characters)'
        in: path
        name: assetNamespace
        required: true
        schema:
          type: string
      - description: 'asset identifier ex: assetInteg. Asset identifier must respect
          the following regular expression <code>([\w\-_:]{1,128})</code> (max 128
          characters)'
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: force the status update
        in: query
        name: force
        schema:
          default: false
          type: boolean
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetParamsStatusUpdateReqWeb'
        description: parameters keys and their future status. Maximum 100 parameters,
          and parameter name max length is 128
        required: false
      responses:
        "200":
          content: {}
          description: Asset parameters update state updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Parameter not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Conflict
      summary: Update the status of a specific asset parameters update
      tags:
      - _(deprecated) Device management parameter - V0 (use Device management - Configuration
        - V1 instead)
      x-codegen-request-body-name: reqWeb
  /api/v0/assets/{assetNamespace}/{assetId}/params/{paramKey}:
    get:
      deprecated: true
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_R.'
      operationId: getAssetParamUsingGET
      parameters:
      - description: 'asset namespace ex : myNode1. Asset namespace must respect the
          following regular expression <code>([\w\-_]{1,128})</code> (max 128 characters)'
        in: path
        name: assetNamespace
        required: true
        schema:
          type: string
      - description: 'asset identifier ex: assetInteg. Asset identifier must respect
          the following regular expression <code>([\w\-_:]{1,128})</code> (max 128
          characters)'
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: key identifying the targeted asset parameter. Expected string
          (max 128 characters)
        in: path
        name: paramKey
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetParameter'
          description: The parameter of the assets
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Parameter not found
      summary: Get a specific asset parameter
      tags:
      - _(deprecated) Device management parameter - V0 (use Device management - Configuration
        - V1 instead)
  /api/v0/assets/{assetNamespace}/{assetId}/params/{paramKey}/status:
    put:
      deprecated: true
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_W.'
      operationId: setDeviceParamUpdateStatusUsingPUT
      parameters:
      - description: 'asset namespace ex : myNode1. Asset namespace must respect the
          following regular expression <code>([\w\-_]{1,128})</code> (max 128 characters)'
        in: path
        name: assetNamespace
        required: true
        schema:
          type: string
      - description: 'asset identifier ex: assetInteg. Asset identifier must respect
          the following regular expression <code>([\w\-_:]{1,128})</code> (max 128
          characters)'
        in: path
        name: assetId
        required: true
        schema:
          type: string
      - description: key identifying the targeted asset parameter. Expected string
          (max 128 characters)
        in: path
        name: paramKey
        required: true
        schema:
          type: string
      - description: force the status update
        in: query
        name: force
        schema:
          default: false
          type: boolean
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              enum:
              - NONE
              - PENDING
              - SENT
              - CANCELED
              - OK
              - FAILED
              type: string
        description: future state of the parameter --> CANCELED
        required: false
      responses:
        "200":
          content: {}
          description: Asset parameter update state updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Parameter not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Conflict
      summary: Update the status of a specific asset parameter update
      tags:
      - _(deprecated) Device management parameter - V0 (use Device management - Configuration
        - V1 instead)
      x-codegen-request-body-name: newStatus
  /api/v0/auditlog/messages:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : LOGS_R.'
      operationId: searchUsingGET
      parameters:
      - description: Search for messages after this date. Use ISO-8601 normalization.
        in: query
        name: from
        schema:
          type: string
      - description: Search for messages before this date. Use ISO-8601 normalization.
        in: query
        name: to
        schema:
          type: string
      - description: Offset from the first result you want to fetch. offset + limit
          should not exceed 10.000.
        in: query
        name: offset
        schema:
          default: 0
          format: int32
          type: integer
      - description: Maximum amount of messages to return. limit should not exceed
          1.000.
        in: query
        name: limit
        schema:
          default: 100
          format: int32
          type: integer
      - description: Sort order, based on timestamp field of the AuditLog message.
        in: query
        name: sort
        schema:
          default: desc
          enum:
          - desc
          - asc
          type: string
      - description: 'Filter query based on parameter name = field path and parameter
          value = value to search for : {fiedlName}={value}. You can put several filters
          that way, they will all be treated with an AND operator. Common filters
          field names you can use : level, category, subcategory, type, source.deviceId,
          source.nodeId, description, detailedDescription. e.g. : level=error&source.deviceId=urn:lora:0E5EAB0ABCD00000'
        in: query
        name: filters
        schema:
          type: string
      - description: Search for AuditLog Messages where any of the fields contains
          all these values.
        explode: true
        in: query
        name: '@any'
        schema:
          items:
            type: string
          type: array
        style: form
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AuditLogMessage'
                type: array
          description: list of AuditLogMessages
      summary: Retrieve messages available in your AuditLog
      tags:
      - Audit Log
  /api/v0/auth:
    post:
      description: Usage of this API will be reported in your access log under 'authentication'
        category.
      operationId: authenticateUserUsingPOST
      parameters:
      - description: if true, send the API key value in a secure cookie
        in: query
        name: cookie
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthReqWeb'
        description: body of authentication request
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResWeb'
          description: OK
      summary: Authenticate a user
      tags:
      - User authentication
      x-codegen-request-body-name: authenticationRequest
  /api/v0/bindings:
    get:
      deprecated: true
      description: 'Restricted to API keys with at least one of the following roles
        : BUS_CONFIG_R.'
      operationId: listBindingsUsingGET
      parameters:
      - description: the maximum number of items per page (optional, highest value
          is 1000)
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - description: the requested page number (optional)
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pageable«FifoBinding»'
          description: a page of bindings
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
      summary: List registered bindings
      tags:
      - _(deprecated) Bus management router
    post:
      deprecated: true
      description: 'Usage of this API will be reported in your access log under ''routing''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : BUS_CONFIG_W.'
      operationId: addBindingUsingPOST
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFifoBindingRequest'
        description: body of create FIFO bindings
        required: false
      responses:
        "200":
          content: {}
          description: Binding created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: FIFO not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Binding already exists
      summary: Add a binding for a FIFO queue
      tags:
      - _(deprecated) Bus management router
      x-codegen-request-body-name: req
  /api/v0/bindings/{routingKeyFilter}/{fifoName}:
    delete:
      deprecated: true
      description: 'Usage of this API will be reported in your access log under ''routing''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : BUS_CONFIG_W.'
      operationId: deleteBindingUsingDELETE
      parameters:
      - description: routing key filter. Routing key must respect the following regular
          expression <code>[A-Za-z\d-_:~#\.\*]+</code> (max 1000 characters)
        in: path
        name: routingKeyFilter
        required: true
        schema:
          type: string
      - description: name of the fifo. Fifo name must respect the following regular
          expression <code>[A-Za-z\d-_~]+</code> (max 255 characters)
        in: path
        name: fifoName
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Binding deleted (if true)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: FIFO or binding not found
      summary: Delete a binding
      tags:
      - _(deprecated) Bus management router
  /api/v0/certificates/ca:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : API_KEY_R.'
      operationId: listUsingGET_11
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CaCertificate'
                type: array
          description: Ca certificates Successfully retrieved
      summary: List CA certificates
      tags:
      - CA certificates
    post:
      description: 'Usage of this API will be reported in your access log under ''security''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : API_KEY_W.'
      operationId: createUsingPOST
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaCertificateCreateReqWeb'
        description: Root or intermediate Certification Authority (CA) certificate.
          Only PEM format is supported. Certificate chains are not allowed. In case
          that intermediates CA are used, it must be the intermediate CA certificate
          which signs the devices certificates.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaCertificateCreateResWeb'
          description: PEM X.509 CA certificate uploaded
        "400":
          content: {}
          description: Invalid X.509 certificate
      summary: Upload CA certificate
      tags:
      - CA certificates
      x-codegen-request-body-name: caCertificate
  /api/v0/certificates/ca/{certificateId}:
    delete:
      description: 'Usage of this API will be reported in your access log under ''security''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : API_KEY_W.'
      operationId: deleteUsingDELETE_9
      parameters:
      - description: id of the CA certificate to delete
        in: path
        name: certificateId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: CA certificate Successfully deleted
        "404":
          content: {}
          description: Unknown CA certificate
      summary: Delete CA certificate
      tags:
      - CA certificates
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : API_KEY_R.'
      operationId: retrieveUsingGET
      parameters:
      - description: id of the CA certificate
        in: path
        name: certificateId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaCertificate'
          description: CA certificate Successfully retrieved
        "404":
          content: {}
          description: Unknown CA certificate
      summary: Retrieve CA certificate
      tags:
      - CA certificates
  /api/v0/commands:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_R.'
      operationId: listCommandsUsingGET
      parameters:
      - description: the maximum number of items per page (optional, highest value
          is 1000)
        in: query
        name: size
        schema:
          default: 20
          format: int64
          type: integer
      - description: the requested page number (optional)
        in: query
        name: page
        schema:
          default: 0
          format: int64
          type: integer
      - description: 'sorting list by attributes (supported columns:  id, status,
          created). DefaultValue : -created'
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pageable«CommandV0»'
          description: The list of commands
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
      summary: List registered commands
      tags:
      - _(deprecated) Device management command - V0 (use Device management - Commands
        - V1 instead)
  /api/v0/commands/{commandId}:
    delete:
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_W.'
      operationId: deleteCommandUsingDELETE
      parameters:
      - description: identifier of specific command. Expected identifier (max 24 characters)
        in: path
        name: commandId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: Command deleted
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Command not found
      summary: Delete a specific command
      tags:
      - _(deprecated) Device management command - V0 (use Device management - Commands
        - V1 instead)
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_R.'
      operationId: getCommandUsingGET
      parameters:
      - description: identifier of specific command. Expected identifier (max 24 characters)
        in: path
        name: commandId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandV0'
          description: The command
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Command not found
      summary: Get a specific command
      tags:
      - _(deprecated) Device management command - V0 (use Device management - Commands
        - V1 instead)
  /api/v0/commands/{commandId}/status:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_R.'
      operationId: getCommandStatusUsingGET
      parameters:
      - description: identifier of specific command. Expected identifier (max 24 characters)
        in: path
        name: commandId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleStringWeb'
          description: The command status
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Command not found
      summary: Get the status of a specific command
      tags:
      - _(deprecated) Device management command - V0 (use Device management - Commands
        - V1 instead)
    put:
      description: 'Restricted to API keys with at least one of the following roles
        : DEVICE_W.'
      operationId: setCommandStatusUsingPUT
      parameters:
      - description: identifier of specific command. Expected identifier (max 24 characters)
        in: path
        name: commandId
        required: true
        schema:
          type: string
      - description: force the status update
        in: query
        name: force
        schema:
          default: false
          type: boolean
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              enum:
              - PENDING
              - SENT
              - PROCESSED
              - CANCELED
              - ERROR
              - UNKNOWN
              type: string
        description: future state of the command --> CANCELED
        required: false
      responses:
        "200":
          content: {}
          description: Command status updated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Command not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid command status update
      summary: 'Update the status of specific command '
      tags:
      - _(deprecated) Device management command - V0 (use Device management - Commands
        - V1 instead)
      x-codegen-request-body-name: newStatus
  /api/v0/contact:
    post:
      description: 'Restricted to API keys with at least one of the following roles
        : DATA_PROCESSING_W.'
      operationId: sendMessageUsingPOST
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
        description: contact and message are mandatory
        required: false
      responses:
        "200":
          content: {}
          description: Message is sending, nothing in response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: An ErrorMessage
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Too Many Message
      summary: API to send message
      tags:
      - Notification
      x-codegen-request-body-name: request
  /api/v0/cookies:
    delete:
      operationId: cookiesDeleteUsingDELETE
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
      summary: cookiesDelete
      tags:
      - User authentication
  /api/v0/data/bulk:
    post:
      description: 'Restricted to API keys with at least one of the following roles
        : DATA_W.'
      operationId: addDataBulkUsingPOST
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/DataBulkItemWeb'
              type: array
        description: Bulk of Data to add
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                type: string
          description: Request has been accepted. Data processing ongoing.
      summary: Insert a bulk of new Data
      tags:
      - Data bulk injection
      x-codegen-request-body-name: dataBulk
  /api/v0/data/search:
    post:
      description: 'return the json serialization of an Elasticsearch SearchResponse
        for the query<br><br>Restricted to API keys with at least one of the following
        roles : DATA_R.'
      operationId: dslQueryUsingPOST
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: elasticsearch DSL request
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonObject'
          description: json serialization of an Elasticsearch SearchResponse for the
            query
      summary: Query an Elasticsearch Domain Specific Language request
      tags:
      - Data management data search
      x-codegen-request-body-name: dslRequest
  /api/v0/data/search/hits:
    post:
      description: 'return a json array of stored data that match the query.<br><br>Restricted
        to API keys with at least one of the following roles : DATA_R.'
      operationId: dslQueryHitsOnlyUsingPOST
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: elasticsearch DSL request
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DataStoredWeb'
                type: array
          description: json array of stored data that match the query
      summary: Query an Elasticsearch Domain Specific Language request and get only
        hits result
      tags:
      - Data management data search
      x-codegen-request-body-name: dslRequest
  /api/v0/data/streams/{streamId}:
    get:
      description: 'return an array of StoredDataMessage matching the request parameters.<br><br>Restricted
        to API keys with at least one of the following roles : DATA_R.'
      operationId: retrieveDataUsingGET
      parameters:
      - description: StreamId from which the data will be retrieved
        in: path
        name: streamId
        required: true
        schema:
          type: string
      - description: max number of data to return, value is limited to 1000
        in: query
        name: limit
        schema:
          default: 100
          format: int32
          type: integer
      - description: 'filter data where timestamp is in timeRange (must be ISO 8601
          formatted) : ?timeRange=[lowerbound],[upperbound]. Coma is mandatory, lowerbound
          and upperbound are optionals. Lowerbound is inclusiv, upperbound is exclusiv.'
        explode: true
        in: query
        name: timeRange
        schema:
          items:
            type: string
          type: array
        style: form
      - description: 'id of the last document retrieved that can be used to paginate
          : first result will be the one following this document id'
        in: query
        name: bookmarkId
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DataStoredWeb'
                type: array
          description: array of StoredDataMessage matching the request parameters
      summary: Retrieve data from the streamId
      tags:
      - Data management data store
    post:
      description: 'In order for the data to be enriched by decoders and pipelines
        functionalities, ''metadata.encoding'' field must be set.<br><br>Restricted
        to API keys with at least one of the following roles : DATA_W.'
      operationId: addDataMessageUsingPOST
      parameters:
      - description: 'StreamId in which the data will be added. Should not contains
          following character or space : '' \ " ; { } ( )'
        in: path
        name: streamId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataWeb'
        description: DataMessage to add
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                type: string
          description: Request has been accepted. Data processing ongoing.
      summary: Insert a new Data into the stream
      tags:
      - Data management data store
      x-codegen-request-body-name: data
  /api/v0/decoders:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : DATA_PROCESSING_R.'
      operationId: listUsingGET_22
      parameters:
      - description: target filtering tags
        explode: true
        in: query
        name: tags
        schema:
          items:
            type: string
          type: array
        style: form
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PayloadDescription'
                type: array
          description: list all decoders
      summary: Retrieve the list of all decoders (binary, csv, js)
      tags:
      - Decoders
  /api/v0/decoders/binary:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : DATA_PROCESSING_R.'
      operationId: listUsingGET_10
      parameters:
      - description: target filtering tags
        explode: true
        in: query
        name: tags
        schema:
          items:
            type: string
          type: array
        style: form
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BinaryPayloadDescription'
                type: array
          description: list of binary decoders
      summary: Retrieve the list of binary decoders
      tags:
      - Decoders - binary
    post:
      description: 'The number of binary decoders is limited to 100.<br><br>Usage
        of this API will be reported in your access log under ''data_decoder'' category.<br><br>Restricted
        to API keys with at least one of the following roles : DATA_PROCESSING_W.'
      operationId: postUsingPOST_10
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BinaryPayloadDescription'
        description: Binary decoder description
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinaryPayloadDescription'
          description: Binary decoder created
      summary: Create a binary decoder
      tags:
      - Decoders - binary
      x-codegen-request-body-name: binaryPayloadDescription
  /api/v0/decoders/binary/test:
    post:
      description: 'Restricted to API keys with at least one of the following roles
        : DATA_PROCESSING_R.'
      operationId: testUsingPOST_2
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BinaryPayloadDescriptionTestRequest'
        description: Binary format and encoded payload on which decoding shall be
          peformed
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadDescriptionTestResult'
          description: Test has been perfomed. Response body contains decoded data
            as Json
      summary: Test a binary decoder format with an encoded payload
      tags:
      - Decoders - binary
      x-codegen-request-body-name: dataDecodingTestRequest
  /api/v0/decoders/binary/{decoderId}:
    delete:
      description: 'Usage of this API will be reported in your access log under ''data_decoder''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : DATA_PROCESSING_W.'
      operationId: deleteUsingDELETE_8
      parameters:
      - description: id of the binary decoder to delete
        in: path
        name: decoderId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Binary decoder deleted
      summary: Delete a binary decoder
      tags:
      - Decoders - binary
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : DATA_PROCESSING_R.'
      operationId: getUsingGET_10
      parameters:
      - description: id of the binary decoder to retrieve
        in: path
        name: decoderId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinaryPayloadDescription'
          description: binary decoder
      summary: Retrieve a binary decoder
      tags:
      - Decoders - binary
    put:
      description: 'Usage of this API will be reported in your access log under ''data_decoder''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : DATA_PROCESSING_W.'
      operationId: putUsingPUT_2
      parameters:
      - description: id of the binary decoder to update
        in: path
        name: decoderId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BinaryPayloadDescription'
        description: Binary decoder description
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinaryPayloadDescription'
          description: Binary decoder updated
      summary: Update a binary decoder
      tags:
      - Decoders - binary
      x-codegen-request-body-name: binaryPayloadDescription
  /api/v0/decoders/binary/{decoderId}/enabled:
    put:
      description: 'Usage of this API will be reported in your access log under ''data_decoder''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : DATA_PROCESSING_W.'
      operationId: activateUsingPUT_8
      parameters:
      - description: id of the binary decoder to activate or deactivate
        in: path
        name: decoderId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: boolean
        description: true to activate, false otherwise
        required: false
      responses:
        "204":
          content: {}
          description: Update request has been accepted.
      summary: Activate or deactivate a decoder
      tags:
      - Decoders - binary
      x-codegen-request-body-name: enabled
  /api/v0/decoders/csv:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : DATA_PROCESSING_R.'
      operationId: listUsingGET_12
      parameters:
      - description: target filtering tags
        explode: true
        in: query
        name: tags
        schema:
          items:
            type: string
          type: array
        style: form
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CsvPayloadDescription'
                type: array
          description: list of csv decoders
      summary: Retrieve the list of csv decoders filtered by tags
      tags:
      - Decoders - CSV
    post:
      description: 'The number of csv decoders is limited to 100.<br><br>Usage of
        this API will be reported in your access log under ''data_decoder'' category.<br><br>Restricted
        to API keys with at least one of the following roles : DATA_PROCESSING_W.'
      operationId: postUsingPOST_11
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsvPayloadDescription'
        description: Csv decoder description
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvPayloadDescription'
          description: Csv decoder created
      summary: Create a csv decoder
      tags:
      - Decoders - CSV
      x-codegen-request-body-name: csvPayloadDescription
  /api/v0/decoders/csv/test:
    post:
      description: 'Restricted to API keys with at least one of the following roles
        : DATA_PROCESSING_R.'
      operationId: testUsingPOST_3
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsvPayloadDescriptionTestRequest'
        description: Csv format and encoded payload on which decoding shall be peformed
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayloadDescriptionTestResult'
          description: Test has been perfomed. Response body contains decoded data
            as Json
      summary: Test a csv decoder format with an encoded payload
      tags:
      - Decoders - CSV
      x-codegen-request-body-name: dataDecodingTestRequest
  /api/v0/decoders/csv/{decoderId}:
    delete:
      description: 'Usage of this API will be reported in your access log under ''data_decoder''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : DATA_PROCESSING_W.'
      operationId: deleteUsingDELETE_10
      parameters:
      - description: id of the csv decoder to delete
        in: path
        name: decoderId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: Csv decoder deleted
      summary: Delete a csv decoder
      tags:
      - Decoders - CSV
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : DATA_PROCESSING_R.'
      operationId: getUsingGET_11
      parameters:
      - description: id of the csv decoder to retrieve
        in: path
        name: decoderId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvPayloadDescription'
          description: csv decoder
      summary: Retrieve a csv decoder
      tags:
      - Decoders - CSV
    put:
      description: 'Usage of this API will be reported in your access log under ''data_decoder''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : DATA_PROCESSING_W.'
      operationId: putUsingPUT_3
      parameters:
      - description: id of the csv decoder to update
        in: path
        name: decoderId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsvPayloadDescription'
        description: Csv decoder description
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CsvPayloadDescription'
          description: Csv decoder updated
      summary: Update a csv decoder
      tags:
      - Decoders - CSV
      x-codegen-request-body-name: csvPayloadDescription
  /api/v0/decoders/csv/{decoderId}/enabled:
    put:
      description: 'Usage of this API will be reported in your access log under ''data_decoder''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : DATA_PROCESSING_W.'
      operationId: activateUsingPUT_9
      parameters:
      - description: id of the csv decoder to activate or deactivate
        in: path
        name: decoderId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: boolean
        description: true to activate, false otherwise
        required: false
      responses:
        "204":
          content: {}
          description: Update request has been accepted.
      summary: Activate or deactivate a decoder
      tags:
      - Decoders - CSV
      x-codegen-request-body-name: enabled
  /api/v0/decoders/public:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : DATA_PROCESSING_R.'
      operationId: listUsingGET_23
      parameters:
      - description: target filtering tags
        explode: true
        in: query
        name: tags
        schema:
          items:
            type: string
          type: array
        style: form
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PayloadDescription'
                type: array
          description: list all decoders
      summary: Retrieve the list of all public decoders (binary, csv, js)
      tags:
      - Decoders - public
  /api/v0/deviceMgt/campaigns:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : CAMPAIGN_R.'
      operationId: listCampaignsUsingGET
      parameters:
      - description: the maximum number of items per page (optional, highest value
          is 1000)
        in: query
        name: size
        schema:
          default: 20
          format: int32
          type: integer
      - description: the requested page number (optional)
        in: query
        name: page
        schema:
          default: 0
          format: int32
          type: integer
      - description: status list filter
        explode: true
        in: query
        name: status
        schema:
          enum:
          - COMPLETE
          - INCOMPLETE
          - RUNNING
          - SCHEDULED
          - SERVER_ERROR
          - CANCELED
          - CANCELING
          items:
            type: string
          type: array
        style: form
      - description: 'sorting list by attributes (supported columns:  id, name, status,
          created, updated). DefaultValue : -created'
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignList'
          description: List of campaigns.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden.
      summary: List all campaigns
      tags:
      - Campaign management
    post:
      description: 'Usage of this API will be reported in your access log under ''device_campaign''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : CAMPAIGN_W.'
      operationId: createCampaignUsingPOST
      parameters:
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignDefinition'
        description: campaign
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: Campaign has been created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Invalid request. Check the campaign definition.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden.
      summary: Create a campaign
      tags:
      - Campaign management
      x-codegen-request-body-name: campaign
  /api/v0/deviceMgt/campaigns/{campaignId}:
    delete:
      description: 'Usage of this API will be reported in your access log under ''device_campaign''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : CAMPAIGN_W.'
      operationId: deleteCampaignUsingDELETE
      parameters:
      - description: identifier of a campaign
        in: path
        name: campaignId
        required: true
        schema:
          type: string
      - description: cancelling mode. When force is false, the campaign manager prevents
          devices with status not started from starting, cancel devices with status
          pending and let devices with status in progress finish properly. When force
          is true, the campaign manager aborts all pending and in progress sequences
          immediately.
        in: query
        name: force
        schema:
          default: false
          type: boolean
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
          description: Campaign deleted.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEntity'
          description: Campaign will be deleted soon.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Campaign not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Conflict on campaign action
      summary: Delete a campaign
      tags:
      - Campaign management
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : CAMPAIGN_R.'
      operationId: getCampaignUsingGET
      parameters:
      - description: identifier of a campaign
        in: path
        name: campaignId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: A single campaign definition and status.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Campaign not found
      summary: Get a campaign
      tags:
      - Campaign management
    patch:
      description: 'Usage of this API will be reported in your access log under ''device_campaign''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : CAMPAIGN_W.'
      operationId: updateCampaignUsingPATCH
      parameters:
      - description: identifier of a campaign
        in: path
        name: campaignId
        required: true
        schema:
          type: string
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignUpdating'
        description: campaign
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: Campaign has been updated.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Campaign not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Conflict on campaign action
      summary: Update a campaign
      tags:
      - Campaign management
      x-codegen-request-body-name: campaign
  /api/v0/deviceMgt/campaigns/{campaignId}/cancel:
    put:
      description: 'Usage of this API will be reported in your access log under ''device_campaign''
        category.<br><br>Restricted to API keys with at least one of the following
        roles : CAMPAIGN_W.'
      operationId: cancelCampaignUsingPUT
      parameters:
      - description: identifier of a campaign
        in: path
        name: campaignId
        required: true
        schema:
          type: string
      - description: When force is false, the campaign manager prevents devices with
          status not started from starting, cancel devices with status pending and
          let devices with status in progress finish properly. When force is true,
          the campaign manager aborts all pending and in progress sequences immediately.
        in: query
        name: force
        schema:
          default: false
          type: boolean
      - description: a valid API key
        in: header
        name: X-API-KEY
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: Campaign has been canceled.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Request forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Campaign not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseWeb'
          description: Conflict on campaign action
      summary: Cancel a campaign
      tags:
      - Campaign management
  /api/v0/deviceMgt/campaigns/{campaignId}/targets:
    get:
      description: 'Restricted to API keys with at least one of the following roles
        : CAMPAIGN_R.'
      operationId: getCampaignDetailsUsingGET
      parameters:
      - description: identifier of a campaign
        in: path
        name: campaignId
        required: true
        schema:
          type: string
      - description: Status of the device
        in: query
        name: status
        schema:
          type: string
      - description: the maximum number of items per page (optional, highest value
          is 1000)
        in: query
[...]
